.preview {
  display: flex;
  width: 95%; /* 책 전체 너비 */
  height: 98%; /* 책 높이 */
  margin: auto auto; /* 페이지 중앙 정렬 */
  background-color: white; /* 책 배경 흰색 */
  border-radius: 5px; /* 모서리 둥글게 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 그림자 */
  font-size: 16px;
  font-family: "나눔명조", sans-serif;
  overflow: hidden;
}

.left-page,
.right-page {
  flex: 1; /* 양쪽 페이지 동일한 비율로 */
  padding: 20px; /* 내부 여백 */
  border-right: 1px solid #ddd; /* 왼쪽 페이지와 오른쪽 페이지 분리선 */
  box-sizing: border-box; /* 패딩 포함 크기 계산 */
}

.right-page {
  border-right: none; /* 오른쪽 페이지는 분리선 제거 */
}

body.dark-mode .preview {
  color: black;
  background-color: #aaaaaa;
}

#resultTitle{
  font-size: 25px !important;  
}
